h1 {
	text-transform: uppercase;
	color: black;
	text-align: center;
	font-size: 40px;
	margin-top: 100px;
}

body {
	background-image: url(img/1.jpg);
	background-color: #cccccc; /* Used if the image is unavailable */
    height: 600px; /* You must set a specified height */
  	background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.btn {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, -50%);
	margin-top: 200px;
	background-color: orange;
	font-size: 24px;
}